h2
{
	color: black;
	text-align: left;
	font-size: 30px;
	font-family: Segoe UI Black;
	text-align: center;
}
#lgout
{
	font-family: georgia;
height: 40px;
width: 100px;
margin-top: 5px;
margin-left: 1190px;
background-color: white;
color:black;
font-size: 15px;
z-index: 10px;
border: 2px solid blue;
border-radius: 8px;
}
#lgout :hover{
	color: red;
}
a
{
	text-decoration-line: none;
}
td
{
	color:red  ;
	font-family: Comic Sans MS
}
a:hover 
{
	color : red;
}
#delfm
{
	padding: 30px;
	border: 2px solid black;
	position: absolute;
	margin-left: 400px;
	margin-top: 40px;
	background-color:#EFF7B3  ;
	z-index: -5;
}

#sbmt
{
height:30px;
width:50px;
background-color: blue;
color:white;
}